.alert {
  position: relative;
  padding: 8px 15px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: lightseagreen;
  background-color: aliceblue;
  border-color: lightblue;
}
