.user-card {
  display: flex;
  align-items: center;
  box-shadow: -1px 3px 28px 2px rgba(201, 201, 201, 0.8);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.user-card-body {
  padding-left: 20px;
}
