.form-control {
  display: block;
  width: 100%;
  padding: 8px 15px;
  font-size: 16px;
  line-height: 1.5;
  color: lightgrey;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: grey;
  background-color: white;
  border-color: darkcyan;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 139 139 / 25%);
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.invalid-feedback {
  margin-top: 5px;
  color: crimson;
  font-size: 12px;
}

.input-select {
  appearance: none;
  margin: 0;
  cursor: inherit;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 15px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-primary {
  color: white;
  background-color: darkcyan;
  border-color: darkcyan;
}

.button-block {
  display: block;
  width: 100%;
}
