.navbar {
  position: relative;
  padding: 15px;
  background-color: darkcyan;

  & > .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > .nav-item {
      display: flex;
      list-style: none;
      color: white;
    }
  }
}

.nav-brand {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.navbar-bottom {
  position: fixed;
  background-color: white;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 20px;
  box-shadow: 3px 3px 8px 0px rgb(165 165 165 / 75%);

  & > .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .nav-item {
      flex-grow: 1;
      flex-basis: 0;
      list-style-type: none;

      & > a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        padding: 15px 10px;
        text-align: center;
        color: darkcyan;
      }
    }
  }
}
