@import "./reset", "./nav", "./alert", "./card", "./image", "./layout",
  "./typography", "./form";


*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: darkslategray;
}

input[type="text"],
input[type="email"],
input[type="search"],
button {
  font-family: "Open Sans", sans-serif;
}